@media all and (max-width: 1000px) {
  #header-top {
    margin-left: 10%;
    margin-right: 10%; }
    #header-top label {
      display: block;
      width: 64px;
      height: 64px; }
  nav {
    float: right;
    width: 200px;
    margin-left: -200px;
    transition: all 0.5s; }
    nav ul {
      flex-direction: column; } }

@media all and (max-width: 768px) {
  header {
    background: #f9f9fb; }
  #info {
    margin: auto;
    width: 80%;
    margin-left: 9%;
    padding: 150px 0 0 0;
    color: #262626; } }
