@font-face {
  font-family: Pacifico;
  src: url(../font/Pacifico.ttf); }

body {
  margin: 0;
  background-color: #f9f8fb; }

.container {
  margin: 0 165px 0 165px; }

/* HEADER START  */
header {
  min-height: 900px;
  background-color: #f9f8fb;
  background: url(../img/header-bg.png) no-repeat center; }

#logo {
  font-family: Pacifico;
  font-size: 50px;
  font-weight: 400; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline; }
  nav li {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    display: inline;
    padding: 0 10px 0 10px; }
    nav li a {
      color: black;
      text-decoration: none; }
    nav li a:hover {
      border-top: #ff6033 solid 3px; }

#info {
  width: 368px;
  padding: 150px 0 0 0;
  color: #262626; }
  #info h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 25px; }
  #info p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px; }
  #info button {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    width: 200px;
    height: 55px;
    border: none;
    background-color: #ff6033;
    color: #ffffff;
    font-size: 20px;
    line-height: 27px;
    margin-top: 30px; }

/* HEADER END  */
/* Main Start  */
#about {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  height: 700px;
  background-image: url("../img/raspberry.png");
  background-repeat: no-repeat;
  background-color: #00b2b2;
  background-position: left 165px top 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline; }

#about-info {
  width: 500px;
  height: 315px;
  margin: 175px 165px 0 0; }
  #about-info h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 27px;
    margin: 0;
    padding-bottom: 25px; }
  #about-info p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    margin: 0;
    padding: 10px 0; }

#services {
  height: 790px;
  background-image: url("../img/tomato.png");
  background-repeat: no-repeat;
  background-color: #70bfff;
  background-position: right 165px top 100px; }

#services-block {
  padding: 159px 0 151px 265px;
  display: flex;
  flex-direction: column; }
  #services-block .services-button {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 400px;
    height: 100px;
    margin: 10px 0;
    background-color: #ffffff;
    border: none;
    color: black;
    text-align: center;
    padding-left: 32px;
    font-size: 20px;
    position: relative;
    padding-right: 100px; }
  #services-block img {
    position: absolute;
    top: 28px;
    right: 26px;
    bottom: 26px; }
  #services-block #line {
    position: absolute;
    top: 0;
    right: 99px; }

#gallery {
  height: 1536px;
  background-color: #ffe92f; }

#gallery-info {
  width: 600px;
  height: 200px;
  margin: 0;
  margin: auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: baseline; }
  #gallery-info h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: #262626;
    line-height: 27px;
    margin: auto; }
  #gallery-info p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #262626;
    text-align: center; }

#subscribe {
  height: 500px;
  background-color: white; }

#blog {
  height: 865px;
  background-color: #b07cf7; }

#contacts {
  height: 866px; }

footer {
  height: 90px;
  background-color: #262626; }

/* Main End  */
