@font-face {
  font-family: Pacifico;
  src: url(../font/Pacifico.ttf); }

body {
  background-color: red; }

header {
  display: flex;
  margin: 0 150px 0 150px; }
  header #logo {
    font-family: Pacifico;
    font-size: 50px;
    font-weight: regular; }
