@mixin raleway_bold {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

@font-face {
    font-family: Pacifico;
    src: url(../font/Pacifico.ttf);
  }

header {
    display: flex;
    margin: 0 150px 0 150px;
}
#logo {
    font-family: Pacifico;
    font-size: 50px;
    font-weight: regular;
}
nav {
    @include raleway_bold();
li:active {
    color: red;
}
}

