$orang:#ff6033;

@mixin raleway_heavy {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

@mixin raleway_bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

@mixin raleway_light {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

@font-face {
    font-family: Pacifico;
    src: url(../font/Pacifico.ttf);
}

body {
    margin: 0;
    background-color: #f9f8fb;

}

.container {
    margin: 0 165px 0 165px;
}

/* HEADER START  */

header {

    min-height: 900px;
    background-color: #f9f8fb;
    background: url(../img/header-bg.png) no-repeat center;
}

#logo {
    font-family: Pacifico;
    font-size: 50px;
    font-weight: 400;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    li {
        @include raleway_bold();
        font-size: 16px;
        line-height: 25px;
        display: inline;
        padding: 0 10px 0 10px;

        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            border-top: $orang solid 3px;
        }
    }
}

#info {
    width: 368px;
    padding: 150px 0 0 0;
    color: #262626;

    h2 {
        @include raleway_heavy();
        font-size: 60px;
        line-height: 25px;
    }

    p {
        @include raleway_light();
        font-size: 17px;
        font-weight: 300;
        line-height: 27px;
      
    }

    button {
        @include raleway_light();
        width: 200px;
        height: 55px;
        border: none;
        background-color: $orang;
        color: #ffffff;
        font-size: 20px;
        line-height: 27px;
        margin-top: 30px;
    }

}

/* HEADER END  */

/* Main Start  */
#about {
    @include raleway_light();
    color: white;
    height: 700px;
    background-image: url("../img/raspberry.png");
    background-repeat: no-repeat;
    background-color: #00b2b2;
    background-position-y: 50px;
    background-position-x: 165px;
}
#about-info {
    width: 500px;
    height: 315px;
}
/* Main End  */
